@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  background: #dfe0df;
  font-family: "Poppins", sans-serif;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.section {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
}

h1,
h2 {
  color: #292328;
  font-size: 16vmin;
  text-transform: uppercase;
  letter-spacing: -2px;
  line-height: 0.9;
  position: relative;
}

h1 span,
h2 span {
  -webkit-text-stroke: 0.7px #292328;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 2px;
  left: -3px;
  z-index: -1;
}

section:nth-child(odd) {
  justify-content: flex-end;
}
